# VENVS
/env
env
env/
/env/
/venv
venv
venv/
/venv/

# CACHES
__pycache__
__pycache__/
/__pycache__/
/__pycache__

# DSTORE
.DS_Store
/DS_Store
/DS_Store/
DS_Store/
DS_Store

new_aurora.pem
pr.py

# DATABASE
db.sqlite3

# env
.env

# media and static files
/media
media/
media
/media/
/static
static/
static
/static/

../.DS_Store
../frontend/

**/migrations/*.pyc
**/migrations/*.py
!**/migrations/__init__.py